* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Staatliches', cursive;
    background-color: 241, 239, 239;

}



li {
    list-style: none;
    text-decoration: none;
}

/* Header */

.headFondo {
    background-image: url(http://3.bp.blogspot.com/-BWxzdtVwawg/TywgA_9RW_I/AAAAAAAAC3k/zgSLYfl4MPQ/s1600/background-1-template-sd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    overflow: hidden;
    padding: 10px;
    color: rgb(245, 229, 7)
}

.colorFondo {
    background-color: 249, 235, 234 ;
}

.headerUl {
    list-style-type: none;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: rgb(162, 168, 78);
    }

    #tituloCentrado {
        margin-left: 450px;
        margin-right: 450px;
    }
    
    #subtituloCentrado {
        margin-right: 600px;
        margin-left: 600px;
    }

    
 .flexMenu {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
 }

 .flexMenu li a {
     text-decoration: none;
     margin: 40px;
     color: #000;
 }


/* Articulos de Body */

#gridsBody {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 100px;

    grid-template-areas:
    "foto1 descr1 publicidad"
    "descr2 foto2 publicidad"   
    "foto3 descr3 publicidad"
    "videoNosotros videoNosotros videoNosotros"
    "footerMedios footerMedios footerMedios"

    }

    #foto1  {
        grid-area: foto1;
        padding: 0px;
    }

    #descr1 {
        grid-area: descr1;
        padding: 50px;
    }

    
    #foto2  {
        grid-area: foto2;
        padding: 0px;
    }

    #descr2 {
        grid-area: descr2;
        padding: 50px;
      
    }
    
    #foto3  {
        grid-area: foto3;
        padding: 0px;
    }

    #descr3 {
        grid-area: descr3;
        padding: 50px;
      
    }

    #publicidad {
        grid-area: publicidad;
        text-align: center;
        border: 1px solid black;
        padding: 50px; 
        background-image: linear-gradient(#eeae5b, orange);

    }

    #videoNosotros {
        grid-area: videoNosotros;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    #footerMedios {
        grid-area: footerMedios;

    }

    
    #footerMedios li {
        text-decoration: none;
        margin: 30px;
        padding-right: 120px;
        padding-left: 120px;
         }
    

/* Footer */

.itemsFooter {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(http://3.bp.blogspot.com/-BWxzdtVwawg/TywgA_9RW_I/AAAAAAAAC3k/zgSLYfl4MPQ/s1600/background-1-template-sd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    overflow: hidden;
    color: rgb(234, 250, 8);
    width: 100%;
}



 #menu ul {
     margin: 0px;
     padding: 0px ;
   
    }

 #menu li {
         float: left;
         list-style: none;
         font-family: 'Staatliches', cursive;
       
     }





 /*sección galería GRID*/

#grids {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    background-color: rgb(241, 239, 239);
    justify-content: center;
    grid-template-areas:
    "img1 desc1" 
    "img2 desc2"   
    "img3 desc3"
    }

#img1  {
    grid-area: img1;
    align-self: strech;
    border: 1px solid black;

}

#desc1 {
    grid-area: desc1;
    align-self: center;
    font-size: 16px;
    padding: 10px;
    
}

#img2 {
    grid-area: img2;
    align-self: strech;
    border: 1px solid black;
}

#desc2 {
    grid-area: desc2;
    align-self: center;
    font-size: 16px;
    padding: 10px;
    
}

#img3 {
    grid-area: img3;
    align-self: stretch;
    border: 1px solid black;
}

#desc3 {
    grid-area: desc3;
    align-self: center;
    font-size: 16px;
    padding: 10px;
  
}


.videoNosotros  {
    padding-top: 2rem;
    padding-bottom: 2rem
    ;
}

/* Productos */

.tablaProductos {
    margin: 50;
    border: 100;
    padding-bottom: 200;
    background-image: radial-gradient(yellow, orange);

 }

 .tablaProductos td {
     padding: 10px;
     text-align: center ;
     
 }

 /* Contacto */

 .formulario {
     background-color: darkgoldenrod;
     font-family: 'Roboto', sans-serif;
     text-align: center;
 }

 /* Registrate */

 .formRegistrate {
    font-family: 'Roboto', sans-serif;
    background-color: darkgoldenrod;
    text-align: center;
    font-size: 20;
    padding: 30;
 }