
 /*sección galería GRID*/

 #grids {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 2fr);
    background-color: rgb(241, 239, 239);
    justify-content: center;
    grid-template-areas:
    "img1 desc1" 
    "img2 desc2"   
    "img3 desc3"
    }

#img1  {
    grid-area: img1;
    align-self: strech;
    border: 1px solid black;

}

#desc1 {
    grid-area: desc1;
    align-self: center;
    font-size: $sizeDescripcion;
    padding: $paddingForm;
    
}

#img2 {
    grid-area: img2;
    align-self: strech;
    border: 1px solid black;
}

#desc2 {
    grid-area: desc2;
    align-self: center;
    font-size: $sizeDescripcion;
    padding: $paddingForm;
    
}

#img3 {
    grid-area: img3;
    align-self: stretch;
    border: 1px solid black;
}

#desc3 {
    grid-area: desc3;
    align-self: center;
    font-size: $sizeDescripcion;
    padding: $paddingForm;
  
}
