/* Productos */

.tablaProductos {
    margin: 50;
    border: 100;
    padding-bottom: 200;
    background-image: radial-gradient(yellow, orange);

 }

 .tablaProductos td {
     padding: $paddingForm;
     text-align: center ;
     
 }