.btn-primary {
    background-color: rgb(190, 190, 35);
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: yellow;
}

a {
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 20px;

}
.card   {
    padding: 20px;
}

