
.card   {
    padding: 20px;
}

/* .header__nav--ubicacion li {
    float: right;

    
}
.header__nav--estilo a {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    float: right;
    padding: 10px;
    color: yellow;
    font-size: 12px;

} */